/* Global definitions */

/* Fonts */

@font-face { 
    font-family: "technology"; 
    src: url("/sub/calculator/fonts/Technology-Bold.ttf") format("truetype"); 
    }

html {
    background-color: black;
    
}

body {
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    background-color: #7d7d8b;
    border: 20px solid #9292a0;
    border-radius: 3%;
}

h1 {
    text-align: center;
    font-family: technology;
    font-size: 80px;
}

.center {
    margin-right: auto;
    margin-left: auto;
}

/* Specifics */
.calculator {
    background-color: #ffcfdb;
    border: 3px solid #fddeed;
    border-radius: 5%;
}